/*网站主要内容*/
.container {
    width: 1000px;
    margin: 80px auto 20px;
}
/*网站左侧内容*/
article {
    width: 680px;
    float: left;
}
.artilce{
    width: 640px;
    padding: 30px 20px 10px;
    background-color: #FFF;
}
.artilce h2{
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 400;
}
.artilce .info{
    margin: 15px 0px 10px;
}
.artilce .info ul li{
    display: inline-block;
    padding: 0 15px;
    color: #666666; 
}
.artilce .info ul li span {
    padding: 0px;
}
.artilce .content p {
    color: #666;
    font-size: 1rem;
}
.artilce .share{
    padding: 10px 20px;
    margin: 20px 0px;
    background: #f7f7f7;
    border-left: 3px solid #111;
    overflow: hidden;
}
.artilce .share img {
    width: 100px;
    float: left;
    margin-right: 20px;
}
.artilce .share p{
    font-size: 1rem;
}
.artilce .nextinfo{
    color: #666;
    display: inline-block;
}
.artilce .nextinfo p{
    font-size: 1rem;
    line-height: 1.6rem;
}
.artilce .nextinfo p a:hover{
    text-decoration-line: underline;
}
.otherlink{
    margin-top:20px;
    width: 640px;
    padding: 0 20px;
    background-color: #FFF;
}
.otherlink .news-title{
    border-bottom: #e4e3e3 1px solid;
}
.otherlink .news-title h2{
    font-size: 1rem;
    line-height:2rem;
}
.otherlink ul{
    padding: 10px 0px;
}
.otherlink ul li {
    line-height:1.6rem;
    font-size: 1rem;
}
.otherlink ul li a:hover{
    text-decoration-line: underline;
}
/*网站右侧内容*/






