/*网站主要内容*/
.container {
    width: 1000px;
    margin: 80px auto 20px;
}
/*网站左侧内容*/
article {
    width: 680px;
    float: left;
}
/*轮播图*/
.banner { width: 100%; overflow: hidden; float: left; margin-bottom: 20px }
.fader { position: relative; width: 100%; padding-top: 60%; font-family: "futura", arial; overflow: hidden; }
.fader .slide { position: absolute; width: 100%; top: 0; z-index: 1; opacity: 0; height: 100%; }
.fader .slide img { width: 100%; height: 100%; }
.fader .prev, .fader .next { position: absolute; height: 80px; line-height: 55px; width: 50px; font-size: 100px; text-align: center; color: #fff; top: 50%; left: 50px; z-index: 4; margin-top: -25px; cursor: pointer; opacity: 0; transition: all 150ms; }
.fader .next { left: auto; right: 50px; }
.fader .pager_list { position: absolute; width: 100%; height: 40px; padding: 0; line-height: 40px; bottom: 0; text-align: center; z-index: 4; }
.fader .pager_list li { display: inline-block; width: 15px; height: 15px; margin: 0 7px; background: #fff; opacity: .3; text-indent: -9999px; border-radius: 999px; cursor: pointer; transition: all 150ms; }
.fader .pager_list li:hover, .fader .pager_list li.active { opacity: 1; }
.banner:hover .fader_controls .page.prev { opacity: 0.5; left: 0 }
.banner:hover .fader_controls .page.next { opacity: 0.5; right: 0 }
.imginfo { z-index: 9; position: absolute; font-size: 26px; color: #FFF; display: block; overflow: hidden; bottom: 12%; left: 0; right: 0; display: block; background: rgba(0,0,0,.4); padding: 0 40px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

/*新闻列表*/
.news-box {
    width: 100%;
}
.news-box ul li {
    width: 305px;
    display: table;
    float: left;
    padding: 10px 15px;
    background-color: rgba(255,255,255,0.8);
    margin-bottom: 10px;
}
.news-box ul li:nth-child(2n) {
    margin-left: 10px;
}
.news-box ul li span {
    display: inline-block;
    overflow: hidden;
    width: 120px;
    height: 80px;
    margin-right: 20px;
}
.news-box ul li span a img {
    width: 100%;
    transition: all 1s;  
}
.news-box ul li span a img:hover {
    transform: scale(1.2);
}
.news-box ul li h3 {
    font-size: 1rem;
    font-weight: normal;
    text-shadow: #FFF 1px 1px 1px;
    display: table-cell;
    vertical-align: middle;
}
.news-box ul li h3 a {
    text-decoration: none;
}
/*文章导航*/
.blogtab {
    width: 100%;
    background-color: #FFF;
    margin-bottom: 10px;
}
.blogtab ul li {
    display: inline-block;
    margin-left: 25px;
    line-height: 45px;
    font-size: 1rem;
}
.blogtab ul li + li{
    margin-left: 40px;
}
.blogtab ul li:first-child a {
    color: #0ae;
}
.blogtab ul li a {
    text-decoration: none;
}
.blogtab ul li a:hover,
.blogtab ul li a:active {
    color: #0ae;
}
/*文章简介*/
.blogs {
    width: 100%;
    background-color: #FFF;
    margin-bottom: 10px;
}
.blogs i {
    display: inline-block;
    width: 3px;
    height: 1.4rem;
    background: #0ae;
}
.blogs h3 {
    line-height: 4rem;
    display: inline-block;
    margin-left: 1rem;
    font-size: 1.4rem;
}
.blogs h3 a:hover,
.blogs h3 a:active {
    color: #0ae;
    text-decoration: none;
}
.blogs .content{
    width: 95%;
    margin:0 auto 5px;
    padding:0px 0px 15px;
}
.blogs .content .pic{
    float: left;
    width: 150px;
    margin-right: 10px;
    overflow: hidden;
}
.blogs .content .pic img {
    width: 150px;
    transition: all 1s;  
}
.blogs .content .pic img:hover {
    transform: scale(1.08);
}
.blogs .content .summary{
    color: #666;
    font-size: 1rem;
}
.blogs .content .info{
    width: 95%;
    margin:0 auto;
    padding:20px 0px 0px;
}
.blogs .content .info ul li{
    display: inline-block;
    padding: 0 15px;
    color: #666666; 
}
.blogs .content .info ul li span {
    padding: 0px;
}
/*网站右侧内容*/