/************
 * 页面样式
 ************/

 /* =========
    基本默认值
    ========= */

html {
    font-size: 62.5%;
    color: #222;
}

::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
 /* =========
    工具样式
    ========= */
.conten-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pull-right {
    float: right !important;
}
.pull-left {
    left: left !important;
}
.text-right {
    text-align: right !important;
}
.text-left {
    text-align: left !important;
}
.text-center {
    text-align: center !important;
}
.hide {
    display: none !important;
}
.show {
    display: block !important;
}
.invisible {
    visibility: hidden;
}
.text-hide{
    font:  0/0 a;
    color:  transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
@media only screen and (max-width:50em) {

}
@media only screen and (min-width:30.0025em) and (max-width:50em) {
    
}
@media only screen and (max-width:30em) {
    
}

 /* =========
    浏览器更新提示
    ========= */
.browserupgrade {
    margin: 0;
    padding: 1rem;
    background: #ccc;
}

 /* =========
    自定义页面样式
    ========= */
body {
    font-size: 1.2rem;
    line-height: 1.5;
    background-color: #efefef;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover, a:active {
    color: #0ae;
    text-decoration: none;
}
.current{
    color: #0ae;
}
.slideUp { -webkit-transform: translateY(-100px); -ms-transform: translateY(-100px); -o-transform: translateY(-100px); transform: translateY(-100px); -webkit-transition: transform .5s ease-out; -o-transition: transform .5s ease-out; transition: transform .5s ease-out; }
.slideDown { -webkit-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); -webkit-transition: transform .5s ease-out; -o-transition: transform .5s ease-out; transition: transform .5s ease-out; }
/*网站头部*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0,0,0,0.04);
    z-index: 9999;
}
header .top {
    width: 1000px;
    margin: 0 auto;
    font-size: 1.6rem;
    /*background-color: aqua;*/
}
header .top .logo {
    float: left;
    margin-right: 4rem;
}
header .top .logo a{
    font-size: 2.2rem;
    text-align: left;
    line-height: 5.2rem;
    text-decoration: none;
}
header .top .logo a:hover,
header .top .logo a:active {
    color: #111;
}
header .top ul {
    float: left;
}
header .top ul li {
    display: inline-block;
}
header .top ul li a{
    display: inline-block;
    padding: 0 1.5rem;
    line-height: 5.2rem;
    text-decoration: none;
}
header .top ul li a:hover,
header .top ul li a:active {
    color: #0ae;
    background-color: #ededed;
}
header .top .search-form {
    float: right;
}
header .top .search-form span {
    display: inline-block;
    padding: 0 1.5rem;
    line-height: 5rem;
}


/*网站主要内容*/
.container {
    width: 1000px;
    margin: 80px auto 20px;
}
/*网站左侧内容*/
article {
    width: 680px;
    float: left;
}
/*轮播图*/
.banner { width: 100%; overflow: hidden; float: left; margin-bottom: 20px }
.fader { position: relative; width: 100%; padding-top: 60%; font-family: "futura", arial; overflow: hidden; }
.fader .slide { position: absolute; width: 100%; top: 0; z-index: 1; opacity: 0; height: 100%; }
.fader .slide img { width: 100%; height: 100%; }
.fader .prev, .fader .next { position: absolute; height: 80px; line-height: 55px; width: 50px; font-size: 100px; text-align: center; color: #fff; top: 50%; left: 50px; z-index: 4; margin-top: -25px; cursor: pointer; opacity: 0; transition: all 150ms; }
.fader .next { left: auto; right: 50px; }
.fader .pager_list { position: absolute; width: 100%; height: 40px; padding: 0; line-height: 40px; bottom: 0; text-align: center; z-index: 4; }
.fader .pager_list li { display: inline-block; width: 15px; height: 15px; margin: 0 7px; background: #fff; opacity: .3; text-indent: -9999px; border-radius: 999px; cursor: pointer; transition: all 150ms; }
.fader .pager_list li:hover, .fader .pager_list li.active { opacity: 1; }
.banner:hover .fader_controls .page.prev { opacity: 0.5; left: 0 }
.banner:hover .fader_controls .page.next { opacity: 0.5; right: 0 }
.imginfo { z-index: 9; position: absolute; font-size: 26px; color: #FFF; display: block; overflow: hidden; bottom: 12%; left: 0; right: 0; display: block; background: rgba(0,0,0,.4); padding: 0 40px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

/*新闻列表*/
.news-box {
    width: 100%;
}
.news-box ul li {
    width: 305px;
    display: table;
    float: left;
    padding: 10px 15px;
    background-color: rgba(255,255,255,0.8);
    margin-bottom: 10px;
}
.news-box ul li:nth-child(2n) {
    margin-left: 10px;
}
.news-box ul li span {
    display: inline-block;
    overflow: hidden;
    width: 120px;
    height: 80px;
    margin-right: 20px;
}
.news-box ul li span a img {
    width: 100%;
    transition: all 1s;  
}
.news-box ul li span a img:hover {
    transform: scale(1.2);
}
.news-box ul li h3 {
    font-size: 1.5rem;
    font-weight: normal;
    text-shadow: #FFF 1px 1px 1px;
    display: table-cell;
    vertical-align: middle;
}
.news-box ul li h3 a {
    text-decoration: none;
}
/*文章导航*/
.blogtab {
    width: 100%;
    background-color: #FFF;
    margin-bottom: 10px;
}
.blogtab ul li {
    display: inline-block;
    margin-left: 25px;
    line-height: 45px;
    font-size: 1.5rem;
}
.blogtab ul li + li{
    margin-left: 40px;
}
.blogtab ul li:first-child a {
    color: #0ae;
}
.blogtab ul li a {
    text-decoration: none;
}
.blogtab ul li a:hover,
.blogtab ul li a:active {
    color: #0ae;
}
/*文章简介*/
.blogs {
    width: 100%;
    background-color: #FFF;
    margin-bottom: 10px;
}
.blogs i {
    display: inline-block;
    width: 3px;
    height: 20px;
    line-height: 20px;
    background: #0ae;
}
.blogs h3 {
    line-height: 20px;
    display: inline-block;
    margin-left: 17px;
    font-size: 2rem;
}
.blogs h3 a:hover,
.blogs h3 a:active {
    color: #0ae;
    text-decoration: none;
}
.blogs span {
    padding: 0 15px;
}
.blogs .piclist{
    display: block;
}
.blogs .piclist a {
    display: block;
    width: 100%;
}
.blogs .piclist a li{
    display: inline-block;
    width: 210px;
    overflow: hidden;
}
.blogs .piclist a li + li {
    margin-left: 5px;
}
.blogs .piclist a li img {
    width: 100%;
    transition: all 1s;  
}
.blogs .piclist a li img:hover {
    transform: scale(1.08);
}
.blogs .bigpic{
    display: block;
    width: 650px;
    height: 200px;
}
.blogs .bigpic a{
    display: block;
    height: 200px;
    overflow: hidden;
}
.blogs .bigpic a img{
    width: 100%;
}
.blogs .bigpic a img:hover {
    -webkit-filter: contrast(120%); /* Chrome, Safari, Opera */
    filter: contrast(120%);
    -webkit-filter: brightness(110%); /* Chrome, Safari, Opera */
    filter: brightness(110%);
}
.blogs p {
    padding: 0 15px;
    color: #666;
    font-size: 1.4rem;
}
.blogs .info ul li{
    display: inline-block;
    padding: 0 15px 20px;
    color: #666666; 
}
.blogs .info ul li span {
    padding: 0px;
}
/*网站右侧内容*/
.right-nav {
    width: 300px;
    float: right;
}
.right-nav section {
    margin-bottom: 20px;
    font-style: normal;
}
.right-nav section > span {
    display: inline-block;
    width: 100%;
    line-height: 2.5rem;
    background-color: #FFF;
    font-size: 1.4rem;
    font-weight: bold;
    text-indent:1.5em;
}
/*精选话题*/
.topic {
    height: 408px;
    background-color: #f7f7f7;
}
.topic li {
    width: 100%;
    height:200px; 
    position: relative;
}
.topic li:last-child{
    margin-top: 8px;
}
.topic li i{
    display: block;
    overflow: hidden;
}
.topic li i img {
    width: 100%;
    height: 200px;
}
.topic li i img:hover {
    -webkit-filter: contrast(120%); /* Chrome, Safari, Opera */
    filter: contrast(120%);
    -webkit-filter: brightness(110%); /* Chrome, Safari, Opera */
    filter: brightness(110%);
}
.topic li span {
    display: block;
    background: rgba(0,170,238,0.8); 
    font-size: 12px;
    font-style: normal;
    border-radius: 3px;
    padding: 5px 8px;
    color: #FFF;
    position: absolute;
    top: 10px;
    left: 10px;
}
.topic li h2 {
    font-style: normal;
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #FFF;
}
/*博主简介*/
.about-me .user-info {
    padding: 10px;
    background-color: #f7f7f7;
}
.about-me .user-info img {
    float: left;
    width: 120px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
}
.about-me .user-info p {
    margin-top:-1px;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #666666;
}
/*文章分类*/
.group ul {
    padding: 10px 20px;
    background-color: #f7f7f7;
}
.group ul li a {
    line-height: 2.5rem;
    font-size: 1.5rem;
}
/*点击排行与文章推荐*/
.recommend span a:first-child {
    padding-right: 1em;
}
.recommend span a:last-child {
    padding-left: 1em;
    border-left: 1px solid #ccc;
}
.recommend ul {
    display: block;
    padding: 10px 15px;
    background-color: #f7f7f7;
}
.recommend ul li a{
    display: block;
    font-size: 1.5rem;
    line-height: 2.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.concern ul{
    display: block;
    width: 280px;
    padding: 10px;
    background-color: #f7f7f7;
    overflow: hidden;
}
.concern ul img {
    width: 100%;
    transition: all 1s;  
}
.concern ul img:hover {
    transform: scale(1.1);
}
/* 底部 */
footer {
    width: 100%;
}
footer p {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    color: #666;
    line-height: 20px;
}







